<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<p> Add Experiences.</p>
<h1>Experience</h1>
<form action="#" th:action="@{/addexp}" th:object="${newexp}" method="post">

    <span th:if="${#fields.hasErrors('jobTitle')}" th:error="*{jobTitle}">jobTitle is required</span>
    <lebel> Enter your job title:</lebel> <input type="text" th:field="*{jobTitle}"/>

    <span th:if="${#fields.hasErrors('company')}" th:error="*{company}">company is required</span>
    <lebel>Enter your company: </lebel><input type="text" th:field="*{company}"/>

    <span th:if="${#fields.hasErrors('startTime')}" th:error="*{startTime}">Start date is required; add in designated format</span>
    <lebel>Enter your start date (day,month and year): </lebel><input type="text" th:field="*{startTime}" />

    <span th:if="${#fields.hasErrors('endTime')}" th:error="*{endTime}">End date is required; add in designated format</span>
    <lebel>Enter your end date (day,month and year): Enter "Still working" if it is your current job.</lebel> <input type="text"
        th:field="*{endTime}" />

    <span th:if="${#fields.hasErrors('position')}" th:error="*{position}">position is required</span>
    <lebel>Enter your position 1:</lebel> <input type="text" th:field="*{position}" />


    <input type="submit" value="Add exp"/> <input type="reset" value="Reset"/>
</form>


</body>
</html>