<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<p>Add personal information.</p>
<h1>User Information</h1>
<form action="#" th:action="@{/addperson}" th:object="${newperson}" method="post">

    <span th:if="${#fields.hasErrors('firstName')}" th:error="*{firstName}">First name is required</span>
    <lebel>Enter firstName: </lebel><input type="text" th:field="*{firstName}" />
    <span th:if="${#fields.hasErrors('lastName')}" th:error="*{lastName}">Last name is required</span>
    <lebel>Enter last name:</lebel> <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('phonNo')}" th:error="*{phonNo}">Your email is required</span>
    <lebel>Enter phonNo: </lebel><input type="text" th:field="*{phonNo}"/>

    <span th:if="${#fields.hasErrors('email')}" th:error="*{email}">Your email is required</span>
    <lebel>Enter  email address : </lebel><input type="text" th:field="*{email}"/>

    <input type="submit" value="Add user profile"/> <input type="reset" value="Reset"/>
</form>


</body>
</html>