<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resume added</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1>Result</h1>


<h2>Education</h2>
<p><td th:text="'Degree: ' + ${newedu.degree}" ></td> </p>
<p><td th:text="'Your univeristy: ' + ${newedu.university}"></td></p>
<td th:text="'Your graduation year: ' + ${newedu.graduationYear}" ></td>

<div>
    <a href="/addedu">Add additional education</a><br/>
    <a href="/addexp">Add additional experience</a><br/>
    <a href="/addskill">Add additional skill</a><br/>
    <a href="/showall">Display user profile</a><br/>
</div>
</body>
</html>