<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person added</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1>Result</h1>
<p>User added </p>

<h2> </h2>
<p><td th:text="'Welcome: ' + ${newperson.firstName}"></td></p>
<p><td th:text="'Your phoneNo: ' + ${newperson.phonNo}"></td></p>
<p><td th:text="'Your email: ' + ${newperson.email}"></td></p>


<div>
    <a href="/addedu">Add additional education</a><br/>
    <a href="/addexp">Add additional experience</a><br/>
    <a href="/addskill">Add additional skill</a><br/>
</div>

</body>
</html>