<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resume added</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1>Result</h1>


<h2>Skills</h2>
<p><td th:text="'Skill: ' + ${newskill.skillName}"></td></p>


<div>
    <a href="/addedu">Add additional education</a><br/>
    <a href="/addexp">Add additional experience</a><br/>
    <a href="/addskill">Add additional skill</a><br/>
    <a href="/showall">Display user profile</a><br/>
</div>

</body>
</html>