<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resume added</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1>Result</h1>


<h2>Experience</h2>
<p><td th:text="'Title: ' + ${newexp.jobTitle}"></td></p>
<p><td th:text="'Your organization: ' + ${newexp.company}"></td></p>
<p><td th:text="'Your start date: ' + ${newexp.startTime}"></td></p>
<p><td th:text="'Your end date: ' + ${newexp.endTime}"></td></p>
<td th:text="'Your position: ' + ${newexp.position}"></td>

<div>
    <a href="/addedu">Add additional education</a><br/>
    <a href="/addexp">Add additional experience</a><br/>
    <a href="/addskill">Add additional skill</a><br/>
    <a href="/showall">Display user profile</a><br/>
</div>

</body>
</html>